<h1>Listado de Héroes</h1>

<hr>

<div class="row">
    <div class="col-auto">
     <button routerLink='/heroe/nuevossss'
             class="btn btn-primary float-right">
             <i class="fa fa-plus">
             Agregar
             </i>
     </button>
    </div>
</div>


<table class="table container animate__animated animate__bounce">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Poder</th>
        <th scope="col">Vivo</th>
        <th scope="col">Tools</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let heroe of heroes; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{heroe.nombre}}</td>
        <td>{{heroe.poder}}</td>
        <td>
          <label *ngIf="heroe.vivo" class="badge-success">Vivo</label>
          <label *ngIf="!heroe.vivo" class="badge-danger">Muerto</label>
          <span class="badge badge-pill pink"><i class="fas fa-wheelchair" aria-hidden="true"></i></span>

        </td>
        <td>
          ...
        </td>
      </tr>
     
    </tbody>
  </table>


  <div class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-5x"></i>
    </p>
    <p class="mb-0">
     Espere por favor
    </p>
  </div>


  
  <div class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-5x"></i>
    </p>
  </div>

  
  
